@model IEnumerable<Web.Models.UsuariosModel>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Lista de usuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
               
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })|
                    @Html.ActionLink("Details", "Details", new { id = item.IdUsuario })|
                @{
                    if( ViewData["Rol"].ToString() == "3")
                    {                        
                    
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    }                    
                }
            </td>
                @{
                    if( ViewData["Rol"].ToString() == "4")
                    {
                            <tr>
                                <td>
                                    Monto                        
                                </td>
                                <td>
                                    Fecha
                                </td>
                            </tr> 
                            @foreach (var fac in item.ListaFacturas)
                        {
                              <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => fac.Monto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => fac.Fecha)
                                </td>
                              </tr>  
                        }
                    }
                }                
            </tr>
}
    </tbody>
</table>
